body {
    background-color: rgb(250, 249, 236);
    color: rgb(84, 82, 79);
    font-family: "Cutive Mono", sans-serif;
    margin: 5vh;
    font-size: 1.5vw;
}

@media (max-width: 600px) {
body {
    margin: 5vw;
    font-size: 18px;
}
}

body > header {
    display: flex;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 15vw;
    margin-right: 0vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding: 5vw;
}

@media (max-width: 600px) {
#logo {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
}
}

#nav-ul {
    margin-left: 0vw;
    margin-right: 15vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
#nav-ul {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
}
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

@media (max-width: 600px) {
#nav-ul > li {
    padding: 0px;
    margin: 6px;
}
}

a {
    color: rgb(84, 82, 79);
    background-color: transparent;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}




