body {
    background-color: rgb(250, 249, 236);
    color: rgb(84, 82, 79);
    font-family: "Cutive Mono", sans-serif;
    margin: 5vh;
    font-size: 1.5vw;
}

#logo {
    margin-left: 15vh;
    margin-right: 0vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding: 8px;
}

ul {
    margin: 0px;
}

body > header {
    display: flex;
    height: 12vh;
    justify-content: space-around;
}

a {
    color: rgb(84, 82, 79);
    background-color: transparent;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#nav-ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}


body > main {
    width: 80%;
}

h2 {
    text-align: center;
}

